/* Generic classes for all database class displays */
.DatabaseClassBox{
    border: 1px solid black;
    display:inline-block;
}

.DatabaseClassBoxTitle{
    text-align: center;
}

/* Work experience related classes */
.workExperienceBox{
    width: 500px;
}

.WorkExperienceTimeline{
    padding: 5px;
    border: 1px solid black;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.WorkExperienceTimeline *{
    margin: 5px;
}

.WorkExperienceDescription{
    background-color: lightgray;
    color:black;
    height:150px;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Artefact related classes */
.ArtefactBox{
    width: 200px;
}

.ArtefactBoxThumbnail{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}