.TimelineContainer{
    padding: 5px;
    border: 1px solid black;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.TimelineContainer *{
    margin: 5px;
}

.TimelineItem{
    border: 1px solid black;
    width: 500px;
    display:inline-block;
}

.timelineTitle{
    text-align: center;
}

.TimelineDescription{
    background-color: lightgray;
    color:black;
    height:150px;
    overflow-x: hidden;
    overflow-y: scroll;
}